@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-h-pink: #fb2e86;
  --color-h-off-navy: #3F509E;
  --color-h-navy: #151875;
  --color-h-purple: #7E33E0;
  --color-h-off-purple: #9F63B5;
  --color-h-red: #FB2448;
  --color-h-blue: #2F1AC4;
  --color-h-off-blue: #151875;
  --color-h-pantone: #E0D3F5;

  --font-josefin: var(--font-josefin), ui-sans-serif, system-ui;
  --font-lato: var(--font-lato), ui-sans-serif, system-ui;

  
}


@custom-variant dark (&:where(.dark, .dark *));


@keyframes bounce-short {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.2); }
}

.animate-bounce-short {
  animation: bounce-short 0.3s ease-out;
}